<%= form_for @genre do |f| %>

  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@genre.errors.count, "error") %> encountered:
      </h2>
      <ol>
        <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="form-group <%= 'field_with_errors' if @genre.errors[:name].any? %>">
    <%= f.label :name %>
        <br />
    <%= f.text_field :name %>
  </div>

    <%= f.submit class: "btn btn-primary" %>
<% end %>
