<h1>Genres</h1>
<% if flash[:notice] %>
  <div class="center alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Genres</strong></td>
    <td><strong>Number of Songs</strong></td>
    <td><strong>Edit</strong></td>
    <td><strong>Delete</strong></td>
  </tr>
  <% @genres.each do |genre| %>
    <tr>
      <td><%= link_to genre.name, genre_path(genre) %></td>
      <td><%= genre.songs.count %></td>
      <td><%= link_to "Edit genre", edit_genre_path(genre) %></td>
      <td><%= link_to "Delete genre", genre_path(genre), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to "Add New Genre", new_genre_path %></p>
