<h1>Songs in Playlists</h1>
<table class="table">
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Playlist Name</strong></td>
    <td><strong>Songs</strong></td>
    <td><strong>Artists</strong></td>
    <td><strong>Delete</strong></td>
  </tr>
  <% @playlist_songs.each do |playlist_song| %>
    <tr>
        <td><%= link_to playlist_song.playlist.name, playlist_path(playlist_song.playlist) %></td>
        <td><%= link_to playlist_song.song.title, song_path(playlist_song.song) %></td>
        <td><%= link_to playlist_song.song.artist.name, artist_path(playlist_song.song.artist) %></td>
        <td><%= link_to "Delete song from playlist", playlist_song_path(playlist_song), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to "Back to Playlists", playlists_path %></p>
