<%= form_for @user, url: "/signup", method: "post" do |f| %>

    <div class="form-group">
        <%= f.label :email %>
        <br>
        <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :username %>
        <br>
        <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :password %>
        <br>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
    </div>

<% end %>