<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="center">
  <div class="info">
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Playlist Count:</strong>  <%= @user.playlists.count %></p>
    <p><%= link_to 'See my playlists', playlists_path %></p>
    <p><%= link_to 'See artists', artists_path %></p>
    <p><%= link_to 'See genres', genres_path %></p>
    <p><%= link_to 'See songs', songs_path %></p>
  </div>
</div>