<!DOCTYPE html>
<html>
  <head>
    <title>Railists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <a class="navbar-brand right" href="<%= root_url %>">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <%if session[:user_id] %>
          <li class="nav-item active">
            <a class="nav-link" href="/users/<%=current_user.id%>"><%=current_user.username.capitalize%>'s profile</a>
          </li>
          <li class="nav-item active">
              <%= link_to 'My Playlists', playlists_path, class:"nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to 'See All Artists', artists_path, class:"nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to 'See All Genres', genres_path, class:"nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to 'See All Songs', songs_path, class:"nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to "Log Out", logout_path, class:"nav-link"%>
          </li>
        <%else%>
          <li class="nav-item active">
              <%= link_to 'Signing in with GitHub', :github_auth, class:"nav-link"%>
          </li>
        <%end%>
        </ul>
      </div>
    </nav>
    <div>
      <br>
    </div>
    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>